
body {
  background-color: #ff1616;
}

img {
  max-width: 100%;
  height: auto;
}

.container{
   width: 100%;
   min-height: 200px;
}

.tombol1 {
        border-color: #466baf;
        padding: 10px;
        text-transform: uppercase;
        font-family: 'Signika', sans-serif;
        font-weight: 700;
        color: #fff;
        background-color: #466baf;
}

.tombol2{
border-color: #466baf;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Signika', Sans-Serif;
  font-weight: 700;
  color: #fff;
  background-color: #466baf;
}

@media screen and(max-width: 400px){
  body, h1, img, .tombol1, .tombol2{
    width: 100%;
  }
}
